.artical-title{

    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.artical-head{

    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}
.author span{
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}
.article-text{
   
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
}
.view-share{
    display: flex;
}
.article-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-share{
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    
}
.viewIcon{
    width: 18px;
    height: 18px;
}
.view-num{

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;


}
.shareIcon{
    width: 42px;
    height: 36px;
    border-radius: 2px
}
.date-location{
    display: flex;
    justify-content: space-between;
}
.visit-btn{
    width: 652px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A9AEB8 !important;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: red;

}
.visit-btn2{
    width: 652px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A9AEB8 !important;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: green;

}
.sidebar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.locItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.error-content span{

    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    text-align: left !important;

}

